<!DOCTYPE html>
<html lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <body>
        
        <%- include("../fragmente/header.ejs") %>
        <main>
            <div id="grid-zona-1">
                <p id="watermark"></p>
                <p id="absolut"></p>
            <section style="text-align: center;">
                <h2 class="title"><q>Rebels <em>never</em> die and this masterpice will live <em>forever</em>. </q></h2>
                <h2><b>Welcome! Here you can find all the studio articles that you need to make your own studio @ home!</b></h2>
                <p>No studio yet? No problem.
                    Click below to get started building your studio <dfn><strong>TODAY.</strong></dfn></p>
                <section>
                    <h3 class="title">Welcome to X-Records@home <i class="fa-solid fa-compact-disc fa-flip" style="--fa-animation-duration: 3s;"></i></h3>
                    <!-- <ol>
                        <li><i>Articole de studio</i></li>
                        <li><i>Tutoriale de la experti din industrie</i></li>
                    </ol> -->
                    <div class="fa-3x">
                        <i class="fa-solid fa-triangle-exclamation fa-fade"></i>
                        <i class="fa-solid fa-skull-crossbones fa-fade"></i>
                        <i class="fa-solid fa-desktop-arrow-down fa-fade"></i>
                        <i class="fa-solid fa-i-cursor fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;" ></i>
                      </div>
                      
                </section>
            </section>
            <div id="video-vtt">
                <video with="320" height="240" playsinline autoplay controls loop muted poster="./resurse/imagini/poster.png">
                    <source src="./resurse/video/sample_video.mp4" type="video/mp4">
                    <source src="./resurse/video/sample_video.ogv" type="video/ogv">
                    <track src="./resurse/video/tracks/captions-ciocolata-en.vtt" kind="subtitles" src="en" label="English">
                    <track default src="./resurse/video/tracks/captions-ciocolata-ro.vtt" kind="subtitles" src="ro" label="Romana">
                </video>
            </div>
            </div>
            
            <div id="grid-zona-2-3-4">
                <div id="calendar" style="border: 2px solid black;"><textarea>Lorem ipsum(placeholder)</textarea></div>
                <div id="tabel">             
                    <table id="tab-orar" style="width: 100%;">
                        <caption style="caption-side: bottom";>Orar</caption>
                        <thead style="text-align: center;">
    
                            <tr>
                                <th>Cod</th>
                                <th>Perioadă</th>
                                <th>Zi</th>
                                <th>Interval dimineata</th>
                                <th>Pauza de masa</th>
                                <th>Interval seară</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr>
                                <td></td>
                                <td rowspan="5">Zile<br/>Lucrătoare</td>
                                <td>Luni</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-20</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Marti</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Miercuri</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Joi</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Vineri</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-19</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rowspan="2">Weekend</td>
                                <td>Sambata</td>
                                <td>10-12</td>
                                <td>12-13</td>
                                <td>13-16</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Duminica</td>
                                <td>10-14</td>
                                <td>-</td>
                                <td>inchis</td>
                            </tr>
                        </tbody>
                        <tfoot style="text-align: center;">
                            <tr>
                                <td>0XFF2(50%)</td>
                                <td>05.11-24.11</td>
                                <td>Miercuri</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                          </tfoot>
                    </table> 
                </div>
                <div id="anunturi" style="border: 2px solid black">
                    <textarea>Lorem ipsum(placeholder)</textarea>
                </div>
            </div>
            
            <div id="grid-zona-8">
                <h1>Featured & Bestselling Products</h1>
                <figure style="width: 20%">
                    <img src="./resurse/maxresdefault_mic.jpg "
                    srcset="./resurse/maxresdefault_mic.jpg 320w, ./resurse/maxresdefault_medie.jpg 800w, ./resurse/maxresdefault_mare.jpg 1200w " 
                    style="max-width: 100%;">
                    <figcaption style="text-align: center">7-Drawer Heavy-Duty Wheeled Roadie Flight Case by Trojan Pro</figcaption>
                  </figure>
                  <figure style="width: 20%">
                    <img src="./resurse/maxresdefault_mic.jpg "
                    srcset="./resurse/maxresdefault_mic.jpg 320w, ./resurse/maxresdefault_medie.jpg 800w, ./resurse/maxresdefault_mare.jpg 1200w " 
                    style="max-width: 100%;">
                    <figcaption style="text-align: center">Imperative Audio Lucent Multi-Pattern Condenser Mic</figcaption>
                  </figure>
                  <figure style="width: 20%">
                    <img src="./resurse/maxresdefault_mic.jpg "
                    srcset="./resurse/maxresdefault_mic.jpg 320w, ./resurse/maxresdefault_medie.jpg 800w, ./resurse/maxresdefault_mare.jpg 1200w " 
                    style="max-width: 100%;">
                    <figcaption style="text-align: center">Focusrite Vocaster Two</figcaption>
                  </figure>
                  <figure style="width: 20%">
                    <img src="./resurse/maxresdefault_mic.jpg "
                    srcset="./resurse/maxresdefault_mic.jpg 320w, ./resurse/maxresdefault_medie.jpg 800w, ./resurse/maxresdefault_mare.jpg 1200w " 
                    style="max-width: 100%;">
                    <figcaption style="text-align: center">Troilus Studio Desk Workstation Black by Trojan Pro</figcaption>
                  </figure>
            </div>

            <div id="grid-zona-5-6-7" style="border: 2px solid black;">
                <text style="border: 2px solid black;">Lorem ipsum</text>
                <textarea>Lorem ipsum</textarea>
                
                <text style="border: 2px solid black;">Lorem ipsum <%- locals.ip %></text>
            </div>
            <section>
                <h2>Teaching Producing and Beatmaking</h2>
                <p>Step inside the production studio with Timbaland. In his first-ever online class, Tim teaches his process for creating infectious beats and making sonic magic.</p>
            </section>
            
                <figure style="width: 20%">
                    <img src="./resurse/maxresdefault_mic.jpg "
                    srcset="./resurse/maxresdefault_mic.jpg 320w, ./resurse/maxresdefault_medie.jpg 800w, ./resurse/maxresdefault_mare.jpg 1200w " 
                    style="max-width: 100%;">
                    <figcaption style="text-align: center">Want to become the next Martin Garrix?</figcaption>
                  </figure>
                  <details>
                    <summary>Hot sale</summary>
                    <p>If you invite a friend and creates an account from your invite, you can get a 10% discount.</p>
                    <p>Save up to 10%!!! Example: Virtual Studio Software costs 
                        <math>
                        <mn>$695</mn>
                        <mo>%</mo>
                        <mn>10</mn>
                        <mo>=</mo>
                        <mi>$625.5</mi>
                    </math></p>
                  </details>
                  <details>
                    <summary>General</summary>
                    <h2>What is X-Records @ Home?</h2>
                    <p>X-Records @ Home is the streaming platform that makes it possible for anyone to watch or listen to hundreds of video lessons taught by 180+ of the world’s best.


                        Whether it be in business and leadership, photography, cooking, writing, acting, music, sports and more, X-Records @ Home delivers a world class online learning experience. Video lessons are available anytime, anywhere on your smartphone, personal computer, Apple TV and FireTV streaming media players.</p>
                    <h2>Which classes are right for me?</h2>
                    <p>X-Records @ Home offers 180+ classes across a variety of categories, including business and leadership, photography, cooking, writing, acting, music, sports and more. Every class has been designed to be accessible for people with little to no experience and advanced students alike. With new classes launching regulary, you can learn practical skills, ignite new passions, and get everyday wisdom.</p>
                    <h2>Where can I watch?</h2>
                    <p>With X-Records @ Home, you can learn and be inspired anytime, anywhere, including your smartphone, personal computer, Apple TV, Amazon Fire TV, and Roku streaming media players. You can even download your favorite lessons and watch on the plane or listen during your commute in audio-only mode.*</p>
                </details>
                  <details>
                    <summary>Pricing & Payment</summary>
                    <h2>How much does X-Records @ Home cost?</h2>
                    <p>The annual membership is 876 Lei and provides unlimited access to all classes and new classes as they launch. All X-Records @ Home memberships include access to our mobile and TV apps, high-definition videos, and downloadable class workbooks.</p>
                    <h2>Will I be charged taxes?</h2>
                    <p>Depending on where you live, you may be charged taxes in addition to your annual membership price. If tax applies, you will see it stated separately on your emailed invoice. Tax rates are calculated based on your location or the billing information you provided at the time of purchase.


                        Should you have any additional questions about taxes you were charged, please view our Support Helpdesk article on taxes or contact us.</p>
                    <h2>How do I cancel?</h2>
                    <p>If you don’t want to continue, you can cancel your membership renewal through your account page. Follow the prompts to cancel on the Settings page, and your membership will not renew. Please note that there aren’t refunds for partially unused membership periods.


                        If you have more questions, contact us. We’re happy to help!</p>
                  </details>
                  <a href="./resurse/maxresdefault_mare.jpg" download>
                    <img src="./resurse/maxresdefault_mare.jpg"
                    alt="untold" width="104" height="142">
                  </a>
                  <h2>Gaisiti mai jos website-ul magazinului nostru partener</h2>
                  <a id="ehomerecords" href="https://ehomerecordingstudio.com/">E-HomeRecordingStudio</a>
                  <section id="produse">
                    <h2>Produsele noastre</h2>
                    <p>Vă oferim o multitudine de metode să câștigați cu succes kilograme în plus.</p>
                    <section>
                        <h3>Torturi</h3>
                        <p>În caz că nu le puteți mânca fiindcă sunteți la dietă și doar vă uitați la ele, puneți accentul pe u!</p>
                        <p>Avem torturi cu:</p>
                        <ul>
                            <li>ciocolată</li>
                            <li>frișcă</li>
                            <li>fructe</li>
                            <li>dulceață</li>
                            <li>înghețată</li>
                            <li>regrete</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Prăjituri</h3>
                        <p>Oferim prăjiturile clasice plus câteva creations personnelles, oui!</p>
                        <p>Prăjituri:</p>
                        <ul>
                            <li>savarină</li>
                            <li>amandină</li>
                            <li>tartă cu fructe</li>
                            <li>doboș</li>
                            <li>carpați (orientali, meridionali și occidentali)</li>
                            <li>ecler</li>
                            <li>tiramisu</li>
                            <li>colivă</li>
                        </ul>
                    </section>
                    </section>
                  <section id="retete">
                    <h2>Related tutorials</h2>
                    <p>Dacă doriți să vă faceți singuri prăjiturile (dar de ce ati face asta când ne aveți pe noi???) 
                        vă recomandăm următoarele rețete simple pe care sperăm să le încercați, să vedeți cât e de <s>ușor</s> să le faceți, 
                        să vă dați în final bătuți și să veniți să cumpărați de la noi &#128512;. Mulțumim! &#128513;</p>


                    <div class="worko-tabs">

                        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
                        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
                        <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
                        <!-- <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" /> -->
        
                        <div class="tabs flex-tabs">
                            <label for="tab-one" id="tab-one-label" class="tab">Timbaland Teaches Producing and Beatmaking | Trailer</label>
                            <label for="tab-two" id="tab-two-label" class="tab">Fred Again.. @ Boiler Room</label>
                            <label for="tab-three" id="tab-three-label" class="tab">3 Ways to Mix..Tutorial</label>
                            <!-- <label for="tab-four" id="tab-four-label" class="tab">POV MIXING - START to FINISH</label> -->
                        
                            <div id="tab-one-panel" class="panel active">
                                <iframe name="ifr-video" width="700" height="400" src="https://www.youtube.com/embed/1vrOL68xTq8"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div id="tab-two-panel" class="panel">
                                    <iframe name="ifr-video" width="700" height="400" src="https://www.youtube.com/embed/c0-hvjV2A5Y"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div id="tab-three-panel" class="panel">
                                <iframe name="ifr-video" width="700" height="400" src="https://www.youtube.com/embed/MeVaxL8iZyA" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <!-- <div id="tab-four-panel" class="panel">
                                <iframe name="ifr-video" width="700" height="400" src="https://www.youtube.com/embed/3ZcWsf1zr2E"
                                framenotder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div> -->
                        </div>
                    </div>
                
                    
                   <br/>
                </section>
                <button>
                    <a id="link-top" href="#top" title="Back to top">&#5123;</a>
                </button>
                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <div id="grid-galerie">
                        <% for(let imag of locals.imagini){ %> 
                        <figure>
                            <picture>
                                <source srcset="<%- imag.fisier_mediu %>" media="(max-width: 1000px)"/>
                                <img src="<%- imag.fisier %>" alt="briose">
                            </picture>
                        <figcaption><%- imag.descriere %></figcaption>
                        </figure>
                    <% } %>
                    </div>
        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>